body[class*='jconfirm-no-scroll-'] {
    overflow: hidden !important
}

.jconfirm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999999;
    font-family: inherit;
    overflow: hidden
}

.jconfirm p {
    margin: 0
}

.jconfirm .jconfirm-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: opacity .4s;
    transition: opacity .4s
}

.jconfirm .jconfirm-bg.jconfirm-bg-h {
    opacity: 0 !important
}

.jconfirm .jconfirm-scrollpane {
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-perspective-origin: center;
    perspective-origin: center;
    display: table;
    width: 100%;
    height: 100%
}

.jconfirm .jconfirm-row {
    display: table-row;
    width: 100%
}

.jconfirm .jconfirm-cell {
    display: table-cell;
    vertical-align: middle
}

.jconfirm .jconfirm-holder {
    max-height: 100%;
    padding: 50px 0
}

.jconfirm .jconfirm-box-container {
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    margin: 0 auto;
    max-width: calc(100% - 2em)
}

.jconfirm .jconfirm-box-container.jconfirm-no-transition {
    -webkit-transition: none !important;
    transition: none !important
}

.jconfirm .jconfirm-box {
    background: #fff;
    border-radius: 15px;
    position: relative;
    outline: none;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto
}

.jconfirm_xsmall {
    width: 24.5em
}

.jconfirm_small {
    width: 30.2em
}

.jconfirm_medium {
    width: 65.2em
}

.jconfirm_large {
    width: 85%
}

.jconfirm_max {
    width: 100%
}

.jconfirm .jconfirm-box.loading {
    height: 120px
}

.jconfirm .jconfirm-box.loading:before {
    content: '';
    position: absolute;
    left: 0;
    background: #fff;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    z-index: 1
}

.jconfirm .jconfirm-box.loading:after {
    opacity: .6;
    content: '';
    height: 30px;
    width: 30px;
    border: solid 3px transparent;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    border-radius: 50%;
    -webkit-animation: jconfirm-spin 1s infinite linear;
    animation: jconfirm-spin 1s infinite linear;
    border-bottom-color: #335066;
    top: 50%;
    margin-top: -15px;
    z-index: 2
}

.jconfirm .jconfirm-box div.jconfirm-closeIcon {
    height: 41px;
    width: 20px;
    position: absolute;
    right: 10px;
    cursor: pointer;
    opacity: .6;
    font-size: 30px !important;
    line-height: 36px !important;
    z-index: 1;
    color: #2B3E4F;
}

.jconfirm .jconfirm-box div.jconfirm-closeIcon:empty {
    display: none
}

.jconfirm .jconfirm-box div.jconfirm-closeIcon .fa {
    font-size: 16px
}

.jconfirm .jconfirm-box div.jconfirm-closeIcon .glyphicon {
    font-size: 16px
}

.jconfirm .jconfirm-box div.jconfirm-closeIcon .zmdi {
    font-size: 16px
}

.jconfirm .jconfirm-box div.jconfirm-closeIcon:hover {
    opacity: 1
}

.jconfirm .jconfirm-box div.jconfirm-title-c {
    display: block;
    font-size: 20px;
    line-height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    padding: .5em;
    color: #2B3E4F;
    font-weight: bold;
    background: #eee;
    text-transform: uppercase;
}

.jconfirm .jconfirm-box div.jconfirm-title-c.jconfirm-hand {
    cursor: move
}

.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c {
    font-size: inherit;
    display: inline-block;
    vertical-align: middle
}

.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c i {
    vertical-align: middle
}

.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c:empty {
    display: none
}

.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-title {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: inherit;
    font-family: inherit;
    display: inline-block;
    vertical-align: middle
}

.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-title:empty {
    display: none
}

.jconfirm .jconfirm-box div.jconfirm-content-pane {
    height: auto;
    -webkit-transition: height .4s ease-in;
    transition: height .4s ease-in;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1em 0.5em;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.jconfirm .jconfirm-box div.jconfirm-content-pane.no-scroll {
    overflow-y: hidden
}

.jconfirm .jconfirm-box div.jconfirm-content-pane::-webkit-scrollbar {
    width: 3px
}

.jconfirm .jconfirm-box div.jconfirm-content-pane::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1)
}

.jconfirm .jconfirm-box div.jconfirm-content-pane::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 3px
}

.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content {
    overflow: auto;
    padding: 0 1em;
}

.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content img {
    max-width: 100%;
    height: auto
}

.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content:empty {
    display: none
}

.jconfirm .jconfirm-box .jconfirm-buttons>button {
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 2px
}

.jconfirm .jconfirm-box .jconfirm-buttons button {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
   /* white-space: nowrap;
    vertical-align: middle;*/
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
   /* min-height: 1em;*/
    -webkit-transition: opacity .1s ease, background-color .1s ease, color .1s ease, background .1s ease, -webkit-box-shadow .1s ease;
    transition: opacity .1s ease, background-color .1s ease, color .1s ease, background .1s ease, -webkit-box-shadow .1s ease;
    transition: opacity .1s ease, background-color .1s ease, color .1s ease, box-shadow .1s ease, background .1s ease;
    transition: opacity .1s ease, background-color .1s ease, color .1s ease, box-shadow .1s ease, background .1s ease, -webkit-box-shadow .1s ease;
    -webkit-tap-highlight-color: transparent;
    border: none;
    background-image: none
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-blue {
    background-color: #335066;
    color: #fff;
    text-shadow: none;
    font-weight: 700
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-blue:hover {
    background-color: #2980b9;
    color: #fff
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-red {
    background-color: #e74c3c;
    color: #fff;
    text-shadow: none;
    -webkit-transition: background .2s;
    transition: background .2s
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-red:hover {
    background-color: #c0392b;
    color: #fff
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-default {
    background-color: #c6c6c6;
    color: #000 !important;
    text-shadow: none;
    -webkit-transition: background .2s;
    transition: background .2s;
    outline: none
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-default:hover {
    background-color: #68ccc1;
    color: #000
}

.jconfirm .jconfirm-box.jconfirm-type-red .jconfirm-title-c .jconfirm-icon-c {
    color: #e74c3c !important
}

.jconfirm .jconfirm-box.jconfirm-type-blue .jconfirm-title-c .jconfirm-icon-c {
    color: #3498db !important
}

.jconfirm .jconfirm-box.jconfirm-type-green .jconfirm-title-c .jconfirm-icon-c {
    color: #2ecc71 !important
}

.jconfirm .jconfirm-box.jconfirm-type-purple .jconfirm-title-c .jconfirm-icon-c {
    color: #9b59b6 !important
}

.jconfirm .jconfirm-box.jconfirm-type-orange .jconfirm-title-c .jconfirm-icon-c {
    color: #f1c40f !important
}

.jconfirm .jconfirm-box.jconfirm-type-dark .jconfirm-title-c .jconfirm-icon-c {
    color: #34495e !important
}

.jconfirm .jconfirm-clear {
    clear: both
}

.jconfirm.jconfirm-rtl {
    direction: rtl
}

.jconfirm.jconfirm-rtl div.jconfirm-closeIcon {
    left: 5px;
    right: auto
}

.jconfirm.jconfirm-white .jconfirm-bg,
.jconfirm.jconfirm-light .jconfirm-bg {
    background: #000c
}

.jconfirm.jconfirm-white .jconfirm-box .jconfirm-title-c .jconfirm-icon-c,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-title-c .jconfirm-icon-c {
    margin-right: 8px;
    margin-left: 0
}

.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons {
    padding: .4em .5em 2px .5em;
    width: 100%;
    background: #eee;
    text-align: right;
}

.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button {
    text-transform: uppercase;
    /*font-size: 14px;*/
    text-shadow: none;
   /* height: 30px;*/
    min-width: 130px;
   /* line-height: 30px !important;*/
}

.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button.btn-default,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.btn-default {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff
}

.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button.btn-default:hover,
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.btn-default:hover {
    background: #979797;
}

.jconfirm.jconfirm-white.jconfirm-rtl .jconfirm-title-c .jconfirm-icon-c,
.jconfirm.jconfirm-light.jconfirm-rtl .jconfirm-title-c .jconfirm-icon-c {
    margin-left: 8px;
    margin-right: 0
}

/* Agregado */


@media screen and (max-width: 840px) {

    .jconfirm_small,
    .jconfirm_xsmall,
    .jconfirm_medium,
    .jconfirm_large,
    .jconfirm_max {
        width: calc(100% - 2em)
    }
}