.dashboard-perfil,
.dashboard-tiempo-real {
  padding: 1.2em 1.2em 1em 1.5em;
  background: rgb(33, 53, 63);
  background: linear-gradient(17deg, rgba(33, 53, 63, 1) 0%, rgba(51, 80, 102, 1) 100%);
  border-radius: 4px;
  color: white;
  -webkit-box-shadow: 0px 0px 4px 0px #243542;
  box-shadow: 0px 0px 4px 0px #243542;
}

.dashboard-perfil h3 {
  margin: 0px;
  font-weight: bold;
}

.dashboard-perfil p {
  margin: 0px;
}

.dashboard-perfil img {
  max-width: 115px;
  max-height: 115px;
  border: 4px solid #fff;
  border-radius: 4px;
  margin-top: 5px;
}

.dashboard-perfil .descripcion {
  margin: 0px;
  background: #fff;
  color: #313131;
  border-radius: 4px;
  padding: 0.5em;
  margin-top: 0.9em;
}

.dashboard-servicio {
  padding: 0.45em 1em;
  border-radius: 4px;
  background: #324f64;
  border: 1px solid #171d26;
}

.dashboard-servicio p {
  font-size: 18px;
  font-weight: bold;
  padding: 0.1em 0.5em;
  margin: 0px;
}

.dashboard-servicio h4 {
  border-bottom: 1px solid #c5d8e669;
  font-size: 16px;
}

.dashboard-servicio .icon-status {
  line-height: 60px;
}
.servicio-disabled {
  background: #171d26;
}

.servicio-alt {
  background: #648aa6;
  border: 1px solid #648aa6;
}

.privilegios-alt {
  background: #324f64;
  border: 1px solid #324f64;
}
.servicio-disabled h4,
.servicio-disabled p,
.servicio-disabled i {
  color: #aaa;
}

#btn-dashboard-admin-recargar {
  max-width: 100px;
}

#container-facturado-mes-grafico {
  height: 295px;
  background: #ecf1f7;
}
#container-ocho-dias-cantidad-grafico,
#container-ocho-dias-facturado-grafico {
  height: 200px;
  background: #ecf1f7;
}

/* tabla */

.dashboard-table-min {
  font-size: 15px;
  line-height: 16px;
}

.dashboard-table-min th:last-child {
  width: auto;
}
.dashboard-table-min tr th {
  text-align: right;
  border: none;
  text-transform: capitalize;
  background: #354a62;
}
.dashboard-table-min tr td {
  text-align: right;
}
.dashboard-table-min tfoot {
  border-top: solid 2px #354a62;
}
.dashboard-table-min tfoot td {
  font-weight: bold;
}

.color-758 {
  color: #c5d8e6;
}

.button-limit {
  max-width: 150px !important;
  background: #357949 !important;
}

@media screen and (max-width: 600px) {
  .dashboard-perfil {
    padding: 1em 0.5em;
  }
}
